main{
    background-color: $background-general;
    video{
        width: 100vw;
    }
    .home__flex--s2{
        @include flex (flex, space-evenly, none);
        display: flex;
        justify-content: space-evenly;
        margin-top: 300px;
        .section__home--flex{
            margin-top: -100px;
            margin-bottom: 200px;
            display: flex;
            flex-direction: column;
            .texto__frente--1{
                color: white;
            }
            .texto__frente--2{
                text-align: center;
                margin: auto;
                a{
                    color: $color-secundario;
                }    
            }   

        }
    }
}